/* Global styles */
* {
	box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	margin: 0;
	padding: 0;
}

a,
a:visited {
    color: #666666;
}

.clear {
    clear: both;
}

td {
    border-top: solid 1px #d3d3d3;
}

td,
th {
    padding: 10px;
}

table {
    border-collapse: collapse;
}

/* Documentation site component styles */
header,
.ant-layout-header {
	background: #c51110;
	color: white;
	padding: 15px;
}

header h1,
.app-header {
	color: white !important;
	margin: 0 auto 5px;
}

.logo,
.app-header {
	display: inline-block;
}

.ant-layout-header {
	height: auto;
	line-height: auto;
}
.ant-layout-sider {
	background: #333;
}

header p {
	margin: 0;
}

.example {
    border: solid 1px #d3d3d3;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #f4f6f9;
}

.example h4:first-of-type {
    margin-top: 0;
}

.example p:last-of-type {
    margin-bottom: 0;
}

.props tr td:last-of-type {
    text-align: center;
}

.props th,
td {
    text-align: left;
    padding: 5px;
}

.navigation {
    float: left;
    width: 250px;
    list-style-type: none;
    padding: 0;
}

.navigation li {
	padding: 10px;
	margin-bottom: 5px;
	border-bottom: 2px solid lightgray;
	color: #999;
	transition: .5s ease all;
}

.navigation li:hover {
	border-bottom: 2px solid gray;
	color: #666;
}

.navigation li a {
	display: block;
	text-decoration: none;
}

.componentpage {
    margin-left: 275px;
}